
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <ul>    <a href="{{ path('user_app_user_update',{'id':app.user.id}) }}">update</a>

          <span>Mon profile :</span>
            <li>first name : {{ app.user.getFirstName }}
                last name :{{ app.user.getLastName }}
                email : {{ app.user.getEmail }}
                Age: {{ app.user.age }}
                created at : {{ app.user.getCreatedAt|date('d/m/Y')  }}
            </li>


        </ul>

    </div>

{% endblock %}

